.gradle
.idea
**/*.iml
local.properties
build
*~
.DS_Store
.svn
issue.info
upload.py

*.ipa
*.app
*.mobileprovision
dist/
*.xcodeproj/
!*.xcodeproj/project.pbxproj
DerivedData/
*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
